%link{:href => "https://getbootstrap.com/docs/5.1/examples/footers/", :rel => "canonical"}/
.container
  %footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top.navbar-fixed-bottom
    .col-md-4.d-flex.align-items-center
      %a.mb-3.me-2.mb-md-0.text-muted.text-decoration-none.lh-1{:href => "/"}
        %svg.bi{:height => "24", :width => "30"}
          %use{"xlink:href" => "#bootstrap"}
      %span.text-muted © 2022 PTD Transport ltd.
    %ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex
      %li.ms-3
        %a.text-muted{:href => "#"}
          %i.fab.fa-facebook-square.fa-2x.i_c
            %use{"xlink:href" => "#twitter"}
      %li.ms-3
        %a.text-muted{:href => "#"}
          %i.fab.fa-instagram.fa-2x.i_c
            %use{"xlink:href" => "#instagram"}
    