.container
.row
  .col-sm-6
    .card.border-0.text-center
      .card-body
        %h5.card-title Registered Office:
        %p.card-text 11 Oak Avenue
        %p.card-text Worcester 
        %p.card-text Worcestershire, WR4 9UG
  .col-sm-6
    .card.border-0
      .card-body
        %h5.card-title Operating Centre:
        %p.card-text Teddington
        %p.card-text Tewkesbury GL20 8NE
        %p.card-text Kenilworth Road
        %p.card-text Solihull B92 0LS