%nav.navbar.navbar-expand-lg.navbar-light.bg-primary
  .container
    %a.navbar-brand{:href => "#"} Navbar
    %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavAltMarkup", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
      .navbar-nav
        %a.nav-link.active{"aria-current" => "page", :href => "#"} Home
        %a.nav-link{:href => "#"} Features
        %a.nav-link{:href => "#"} Pricing
        %a.nav-link.disabled Disabled