%section.intro-section
    .container
        %div.row.align-item-center.text-white
            %div.col-md-6.intros
                %h1.display-2 
                    %span.display-2--intro 
                    PTD Transport
                    %p.lh-base We are operating 44t vehicles with permanent drivers willing to do night outs and weekends when required.
                %h1 
                    %button.rounded-pill.btn-rounded{:type => "button"} 
                        Gontact
                        %i.far.fa-paper-plane.fa-1x
            %div.col-md-6.intros
                %img.img-fluid{:src => "/assets/ptd_logo.png", :height => "300", :width => "100%"}
    %svg{:viewbox => "0 0 1440 320", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M0,160L24,176C48,192,96,224,144,208C192,192,240,128,288,128C336,128,384,192,432,197.3C480,203,528,149,576,117.3C624,85,672,75,720,74.7C768,75,816,85,864,96C912,107,960,117,1008,144C1056,171,1104,213,1152,197.3C1200,181,1248,107,1296,101.3C1344,96,1392,160,1416,192L1440,224L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z", :fill => "#ffffff", "fill-opacity" => "1"}
