%section.intro-section
    .container
        %div.row.align-item-center.text-white
            %div.col-md-6.intros
                %h1.display-2 
                    %span.display-2--intro 
                    PTD Transport
                    %p.lh-base We are operating 44t vehicles with permanent drivers willing to do night outs and weekends when required.
                %h3
                    %a.text-muted{:href => "/contact"} 
                        %button.rounded-pill.btn-rounded{:type => "button"} 
                            Contact
                            %i.far.fa-paper-plane.fa-1x.i_c
            %div.col-md-6.intros
                %img.img-fluid.test_1{:src => "/assets/logo_ptd_edited.png", :height => "300", :width => "100%"}
    %svg{:viewbox => "0 0 1440 320", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M0,288L34.3,272C68.6,256,137,224,206,208C274.3,192,343,192,411,
        192C480,192,549,192,617,208C685.7,224,754,256,823,256C891.4,256,960,224,1029,218.7C1097.1,
        213,1166,235,1234,240C1302.9,245,1371,235,1406,229.3L1440,224L1440,320L1405.7,320C1371.4,320,1303,320,
        1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,
        480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z", :fill => "#ffffff", "fill-opacity" => "1"}
%br
%br
%br
%br
%br
%br
=render('shared/clients')

%section.home_b_section
    .container.home_b_container
        .card-group.border-0.gap
            .card.border-0.home_b_card
                %img.card-img-top.img_b_card{:alt => "...", :src => "/assets/pic_4_ptd.jpeg"}/
                .card-body
                %br
                %br
                %h5.card-title Card title
                %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content.

            .card.border-0.home_b_card
                %img.card-img-top.img_b_card{:alt => "...", :src => "/assets/logo_ptd.png"}/
                .card-body
                %br
                %br
                %h5.card-title Card title
                %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content.
                
            .card.border-0.home_b_card
                %img.card-img-top.img_b_card{:alt => "...", :src => "/assets/pic_4_ptd.jpeg"}/
                .card-body
                %br
                %br
                %h5.card-title Card title
                %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. 
