%section.services_section_top_2
  .container
    %div
      .card-group.gap.border-0
        .card.gap.border-0.card-services-1.mb-3{:style => "max-width: 30rem"}
          .card-body
            .embed-responsive.embed-responsive-16by9 
              %img.card-img-top.embed-responsive-item.img-section-2{:alt => "...", :src => "assets/pic_4_ptd.jpeg"}
        .card.gap.border-0.card-services-1
          .card-body
            %h3 Secure Transport
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum 
    %br
    %br 
%section.services_section_top
#carouselExampleIndicators.carousel.slide{"data-bs-ride" => "carousel"}
  .carousel-indicators
    %button.active{"aria-current" => "true", "aria-label" => "Slide 1", "data-bs-slide-to" => "0", "data-bs-target" => "#carouselExampleIndicators", :type => "button"}
    %button{"aria-label" => "Slide 2", "data-bs-slide-to" => "1", "data-bs-target" => "#carouselExampleIndicators", :type => "button"}
    %button{"aria-label" => "Slide 3", "data-bs-slide-to" => "2", "data-bs-target" => "#carouselExampleIndicators", :type => "button"}
  .carousel-inner
    .carousel-item.active
      %img.d-block.w-100{:alt => "...", :src => "assets/tir_1.jpeg"}/
      .carousel-caption.d-none.d-md-block
        %h5 First slide label
        %p Some representative placeholder content for the first slide.
    .carousel-item
      %img.d-block.w-100{:alt => "...", :src => "assets/tir_2.jpeg"}/
      .carousel-caption.d-none.d-md-block
        %h5 First slide label
        %p Some representative placeholder content for the first slide.
    .carousel-item
      %img.d-block.w-100{:alt => "...", :src => "assets/tir_3.jpeg"}/
      .carousel-caption.d-none.d-md-block
        %h5 First slide label
        %p Some representative placeholder content for the first slide.
  %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#carouselExampleIndicators", :type => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.visually-hidden Previous
  %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#carouselExampleIndicators", :type => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.visually-hidden Next

%svg{:viewbox => "0 0 1440 320", :xmlns => "http://www.w3.org/2000/svg"}
  %path{:d => "M0,224L1440,32L1440,0L0,0Z", :fill => "#f8edeb", "fill-opacity" => "1"}
