body {
  background: #ffffff;
  // background: linear-gradient(
  //   to right,
  //   rgba(#7b68ee, 0.95),
  //   rgba(#7f74b6, 0.95)
  // );
}
//NAV BAR
.custom_nav {
  background: linear-gradient(
    to right,
    rgba(#495057, 0.95),
    rgba(#6c757d, 0.95)
  );
}
li {
  padding: 0 0.7rem;
}

a {
  color: #f4f4fe !important;
  text-transform: capitalize;
  font-weight: 400;
}
a:hover {
  color: #a3d5f1 !important;
}
.btn-rounded {
  background-color: white;
  position: relative;
  padding: 0.9375rem 4.374rem 0.9379rem 1.2rem;
  font-weight: 600;
  margin: 0;
  border: 0.1rem solid rgba(#f4f4fe, 0.6);
}
.btn-rounded:hover {
  background: linear-gradient(
    to right,
    rgba(#495057, 0.95),
    rgba(#6c757d, 0.95)
  );
  color: white;
}

.custom-span {
  position: absolute;
  background-color: #6c757d;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
}

.custom-span:hover {
  background-color: rgba(black, 0.6);
}

i {
  color: #343a40;
  font-size: 1rem;
  line-height: 2.5rem;
  padding-top: 0.7rem;
}

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  display: inline-block;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 1.5rem;
  display: block;
  font-family: "Poppins", sans-serif;
  margin-top: 1.2rem;
  text-transform: none;
}

.intro-section {
  background: linear-gradient(
    to right,
    rgba(#495057, 0.95),
    rgba(#6c757d, 0.95)
  );
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}

.second-section {
  // background: linear-gradient(
  //   to right,
  //   rgba(#495057, 0.95),
  //   rgba(#6c757d, 0.95)
  // );
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}

img {
  padding-left: 20px;
}

//CONTACT PAGE

iframe {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 40px;
  width: auto;
  margin-left: auto;
}

iframe:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.contact_i {
  color: #343a40;
}

// CARDS

.gap {
  grid-column-gap: 16px;
}

.card {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.card:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.dsv-i {
  margin-top: 20px;
}
