body {
  background: #ffffff;
  // background: linear-gradient(
  //   to right,
  //   rgba(#7b68ee, 0.95),
  //   rgba(#7f74b6, 0.95)
  // );
}
.intro-section {
  background: linear-gradient(
    to right,
    // rgba(#495057, 0.95),
    // rgba(#6c757d, 0.95)
    rgba(#264653, 0.95),
    rgba(#94d2bd, 0.95)
  );
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}

//NAV BAR
.custom_nav {
  background: linear-gradient(
    to right,
    // rgba(#495057, 0.95),
    // rgba(#6c757d, 0.95)
    rgba(#94d2bd, 0.95),
    rgba(#264653, 0.95)
  );
}
li {
  padding: 0 0.7rem;
}

.contact_font {
  color: #f4f4fe !important;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
}

a {
  color: #f4f4fe !important;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  color: rgb(31, 28, 28) !important;
}

// .a-head:hover {
//   color: rgb(6, 16, 44) !important;
// }

.btn-head:hover {
  background: linear-gradient(
    to right,
    rgba(#94d2bd, 0.95),
    rgba(#264653, 0.95)
  );
  color: #81b29a;
}

.btn-head {
  background-color: #264653;
  position: relative;
  padding: 0.5375rem 2.374rem 0.5379rem 0.7rem;
  font-weight: 600;
  margin: 0;
  // border: 0.1rem solid rgba(#f4f4fe, 0.6);
}

.btn-rounded {
  background-color: white;
  position: relative;
  padding: 0.9375rem 4.374rem 0.9379rem 1.2rem;
  font-weight: 600;
  margin: 0;
  // border: 0.1rem solid rgba(#f4f4fe, 0.6);
}
.btn-rounded:hover {
  background: linear-gradient(
    to right,
    rgba(#264653, 0.95),
    rgba(#94d2bd, 0.95)
  );
  color: white;
}

.custom-span {
  position: absolute;
  background-color: #e9d8a6;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
}

.custom-span:hover {
  background-color: rgba(black, 0.6);
}

i {
  color: #343a40;
  font-size: 1rem;
  line-height: 2.5rem;
  padding-top: 0.7rem;
}

.i_c:hover {
  color: #e85d04;
}

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  display: inline-block;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 1.5rem;
  display: block;
  font-family: "Poppins", sans-serif;
  margin-top: 1.2rem;
  text-transform: none;
}

.second-section {
  // background: linear-gradient(
  //   to right,
  //   rgba(#495057, 0.95),
  //   rgba(#6c757d, 0.95)
  // );
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}

//CONTACT PAGE

.g-frame {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 40px;
  width: auto;
  margin-left: auto;
}

.g-frame:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.contact_i {
  color: #343a40;
}

// CARDS

.gap {
  grid-column-gap: 16px;
}
.card-gap-about {
  grid-column-gap: 30px;
}

.card_din:hover {
  // box-shadow: 2px 2px 2px 2px rgba(0.4, 0.4, 0.4, 0.4);
  -moz-box-shadow: 0 0 10px #999;
  -webkit-box-shadow: 0 0 10px #999;
  box-shadow: 0 0 10px #999;
  transition: box-shadow 0.5s ease-in-out;
}

.cust_img {
  margin-top: 30px;
  margin-left: 20px;
}

h5 {
  font-weight: 300;
}

// Home bottom section
.home_b_section {
  background-color: #264653;
}

.home_b_card {
  margin-top: 50px;
  padding-bottom: 20px;

  overflow: hidden;
}

.img_b_card:hover {
  transform: scale(1.2);
  transition: all 0.2s linear;
}

.home_b_container {
  padding-bottom: 50px;
}

// SERVICES

.card-services-1 {
  background-color: #e8e8e4;
}
.img-section-2 {
  padding: 0.5em 0.5em 0.5em;
  border-radius: 2em;
}
.yt-section-card {
  background-color: #f8edeb;
}

.services_section_top_2 {
  background-color: #e8e8e4;
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}

.services_section_top {
  background-color: #f8edeb;
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}

//ABOUT
.section-about-1 {
  background-color: #7d8597;
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}

//FLIP CARDS
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  padding: 1.5em 0.5em 0.5em;
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #edf6f9;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #edf6f9;
  color: black;
  transform: rotateY(180deg);
}

.checked {
  color: orange;
}
